langchain>=0.3.0
langchain-core>=0.3.0
langchain-openai>=0.2.0
langchain-deepseek>=0.1.0
langgraph>=0.2.0
python-dotenv>=1.0.0
pydantic>=2.0.0
grandalf>=0.8
langchain-community>=0.4.2
langchain-experimental>=0.4.2
pypinyin>=0.55.0
playwright>=1.62.0
lxml>=6.1.1
beautifulsoup4>=4.15.0
reportlab>=5.0.0
langchain-mcp-adapters>=0.3.2
streamlit>=1.61.1
pypdf>=6.15.0
dashscope>=1.26.6
faiss-cpu>=1.15.0
langchain-experimental>=0.4.2
matplotlib>=3.11.1
tabulate>=0.10.0
langchain_tavily>=0.2.18
mem0ai>=2.0.18
langgraph-checkpoint-sqlite>=3.1.1
langgraph-checkpoint-postgres>=3.1.2
psycopg[binary,pool]>=3.3.4
redis>=8.1.0
zep-cloud>=3.28.0
