# DEEP_SEEK API KEY
DEEP_SEEK_API_KEY=sk-xxx

# 阿里百炼模型配置
ALI_BAILIAN_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
ALI_BAILIAN_API_KEY=sk-xxx

# 心知天气API
XINZHI_WEATHER_API_KEY=your_seniverse_api_key

# LangSmith 配置
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=lsv2_pt_your_langsmith_api_key
LANGSMITH_PROJECT=langgraph_data_analysis # chapter12 章节项目

HOST=localhost
USER=你的mysql用户名
MYSQL_PW=你的mysql数据库密码
DB_NAME=你的mysql数据库名称
PORT=你的mysql端口