# DEEP_SEEK API KEY
DEEP_SEEK_API_KEY=sk-xxx

# 阿里百炼模型配置
ALI_BAILIAN_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
ALI_BAILIAN_API_KEY=sk-xxx

# 心知天气API
XINZHI_WEATHER_API_KEY=your_seniverse_api_key

# 记忆管理配置
ZEP_API_KEY=z_1dWlkIjoiNjRhMjhhYWQtODViNi00YTUyLWI5ZTAtNTRjNTk3ZjVjMDIzIn0.gky_MWXJkNExyTEGMymAzlHh67bt5YfWLTzI4YbxrhACijyJO-Xv5VLK9hDnGexAL7STUuReWrCKOWvC9Sc_Sg
MEM0_API_KEY=m0-hrNeMXoK80Tiip3HF3wkz19Hj5tRMJky1VJW1xZ5

# Supbase（https://supabase.com） PostgreSQL 数据库配置
PG_SQL_PWD=4JAf8X66EiCECyd7
SUPABASE_DB_URL=postgresql://postgres.jgsvmcocabkgsatnqusj:4JAf8X66EiCECyd7@aws-0-ap-northeast-2.pooler.supabase.com:5432/postgres

# Upstash（https://upstash.com） Redis 配置
UPSTASH_REDIS_URL=rediss://default:gQAAAAAAAk42AAIgcDEzM2NjYzVmOTMzNmY0MTdkYTUxMWJiMTZlMTk4ZjEzMQ@deep-crab-151094.upstash.io:6379