# DEEP_SEEK API KEY
DEEP_SEEK_API_KEY=sk-xxx

# 阿里百炼模型配置
ALI_BAILIAN_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
ALI_BAILIAN_API_KEY=sk-xxx

# 心知天气API
XINZHI_WEATHER_API_KEY=your_seniverse_api_key

# tavily 搜索
TAVILY_API_KEY=tvly-dev-2qI0rV-xxxx

# 高德地图API Key
AMAP_MAPS_API_KEY=8596395abd389a46d1323e8998680287